@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400");
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  /* COLORS  */
  /* primary */
  --primary-0: #f0efff;
  --primary-50: #d8d6ff;
  --primary-100: #c1beff;
  --primary-200: #aaa5ff;
  --primary-300: #938dff;
  --primary-400: #7b74ff;
  /* main */
  --alpha-main: #06323c;
  --primary-500: #645cff;
  --primary-600: #554ed9;
  --primary-700: #4640b3;
  --primary-800: #37338c;
  --primary-900: #282566;
  --primary-1000: #191740;
  --primary-1100: #0a0919;
  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* rest */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red: #ad0505;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* typography */
  --headingFont: "Inconsolata", monospace;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #f6f2ff, #f6f2ff),
    linear-gradient(0deg, #fbfaff, #fbfaff);
  color: var(--clr-black);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 0.875rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

h2 {
  margin-top: 2rem;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* img {
  width: 100%;
} */
/*************
   Wrappers
*************/

.div-wrapper {
  width: 90vw;
  max-width: var(--max-width);
  margin: 2rem auto;
  max-height: 10vh;
}

.home {
  text-align: center;
  background: linear-gradient(0deg, #f6f2ff, #f6f2ff),
    linear-gradient(0deg, #fbfaff, #fbfaff);
}

.home-text {
  text-align: center;
}
.btn {
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: var(--borderRadius);
  border: 0;
  text-align: left;
  padding: 0.5rem 2rem;
  color: var(--white);
}
.btn-1 {
  margin: 0 auto;
  display: block;
}
.btn-2 {
  display: none;
}
@media screen and (min-width: 656px) {
}

@media screen and (min-width: 1200px) {
  .div-wrapper {
    padding: 4rem 0;
  }
  .home {
    width: 95%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    order: 2;
  }
  .btn-2 {
    display: block;
    /* margin: 0 auto; */
  }
  .btn-1 {
    display: none;
  }
}
